body{
    padding: 2rem 0;
    background: rgb(0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../../public/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Red Hat Mono', monospace;

    .container{
        min-width: 80%;
        main{
            opacity: 1!important;
            min-height: 80vh;
        }
    }
}

//HEADER COMPONENT - NAVBAR
header{
    -webkit-box-shadow: -6px 7px 85px -1px rgba(0,0,0,0.54);
    -moz-box-shadow: -6px 7px 85px -1px rgba(0,0,0,0.54);
    box-shadow: -6px 7px 85px -1px rgba(0,0,0,0.54);
    border-radius: 5px 5px 0 0;
    font-size: 1.1rem;
    font-family: 'Patrick Hand', cursive;
    background-color: #d8d8d8;
    background-image: linear-gradient(to right top, #ffffff, #f5f5f5, #ebebeb, #e2e2e2, #d8d8d8);
    
    .nav{
        opacity: 1!important;
    }
    .brand-name{
        padding: 1rem;
        width: 180px;
    }

    .thumbnail-image {
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }

    .navbar-light, .navbar-nav, .nav-link {
        color: $light-grey;
      }
      
      .navbar-light, .navbar-nav, .nav-link:hover, .navbar-light, .navbar-nav, .nav-link:focus {
        color: $dark;
      }
      .active{
        color: $light-green!important;
      }

    .active.dropdown-item{
        background-color: $light-green;
        .dropdown-item-nav{
            color: white;
        }
    }

    @media only screen and (max-width: 1400px) {
        .brand-name {
          width: 120px;
        }
      }
}

//MAIN CONTAINER
.main-container{
    background-color: #f0f0f0;
}

//HEROSECTION COMPONENT
.carousel-caption{
    // background-color: #f5f5f551;
    border-radius: 30px;
    color: $dark;
    font-size: 1.3rem;
    padding: 0.5rem;
}

.carousel img{
    margin-top: 30px;
    border-radius: 20px;
    height: 450px;
    object-fit: cover;
    opacity: 0.6;
}

.carousel-caption p{
    font-weight: bold;

  }
@media (max-width: 900px) {
    .hero-section{
        margin-right: 1rem ;
        margin-left: 1rem;
    }
    .carousel-caption {
      font-size: 2.8vw;
    }
    .carousel img{
        height: 350px;
    }
  }

  //FOOTER COMPONENT
  footer{
    width: 100%;
    background: $light-green;
    color: white;
    font-family: 'Patrick Hand', cursive;
    border-radius: 0 0 5px 5px ;
    box-sizing:border-box ;

    .copyright{
        background: #7d8873;
        border-radius: 0 0 5px 5px ;
    }
        h4{
            color: $light-grey;
        }
        ul{
            padding-inline-start: 0;
            li{
                color: $light;
                text-align: center;
                list-style-type: none;
                margin: none;
                &:hover{
                    text-decoration: underline;
                }
            }
    }
    a{
        text-decoration: none;
    }
  }